.App {
  text-align: center;
  align-content: center;
  background-color: palegoldenrod;
  height: 100vh;
  overflow:hidden;
}

.titleHeader{
  height: 5rem;
  text-shadow: 0 0 5px black, 0 0 10px black, 5px 0 1px black, 0 0 1px black;
  color: azure;
}

.hiddendescriptionBox{
  position:absolute;
  scale:0;
}

.showndescriptionBox{
  position:absolute;
  width:11rem;
  top:12rem;

}

.hideCard{
  opacity: 0;
  scale:0;
}

.showCard{
  opacity: 1;
}

.showPoster{
  border-radius:12px;
  width:13rem;
  height:17rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.hidePoster{
  border-radius:12px;
  width:13rem;
  height:17rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  object-fit: cover;
  opacity:0.05;
}


.ArrowButtons{
  font-size: 5rem;
  margin: 2rem;
}

.ArrowButtons:hover{
  font-size: 7rem;
  color: blue;
  cursor: pointer;
}

.hideDesc{
  scale:0;
}

.showDesc{
  margin-top:2rem;
  height:10rem;
  width:20rem;
  border:3px solid black;
  background-color: lightcoral;
  border-radius: 1rem;
}