.App {
  text-align: center;
  align-content: center;
}

.Card{
  border-radius:12px;
  width:13rem;
  height:17rem;
  margin-bottom: 2rem;
}

.ArrowButtons{
  font-size: 5rem;
  margin: 2rem;
}

.ArrowButtons:hover{
  font-size: 7rem;
  color: blue;
  cursor: pointer;
}